includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 7
    paths:
        - src
        - tests

    ignoreErrors:
        - '#Parameter \#2 $haystack of static method PHPUnit\\Framework\\Assert::.*\(\) expects .*, array|object|null given#'
